* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
    max-width: 1240px;
    margin: 0 auto;
}

h2 {
    font-size: calc(1.0875rem + 1.05vw) !important;
}

h3 {
    font-size: calc(1.05rem + .6vw) !important;
}

p {
    font-size: calc(1.025rem + .3vw) !important;
}

#hero h2 {
    font-size: calc(1.2125rem + 2.55vw) !important;
}

footer img {
    height: 5rem;
}